.programSelect {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.programSelect .d2-ui-selectfield {
    min-width: 300px;
}
