.app-wrapper {
    flex: 1;
    position: relative;
    flex-direction: column;
}

.headerBar {
    flex: 1 0 48px;
}

.box {
    position: relative;
    padding-top: 48px;
    display: flex;
    height: 100%;
    background-color: #f4f6f8;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
}
