html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
}
